@import "@bryntum/schedulerpro/schedulerpro.stockholm.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

* {
  margin: 0;
}

body,
html {
  font-family: Poppins, "Open Sans", Helvetica, Arial, sans-serif;
}

#app {
  margin         : 0;
  display        : flex;
  flex-direction : column;
  height         : 100vh;
  font-size      : 14px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  to {transform: rotate(360deg); }
}

.b-sch-horizontal .b-sch-event-wrap .b-sch-event-buffer-before:not(.b-buffer-thin){
  border-inline-start:3px solid #ccc;
}
.b-sch-horizontal .b-sch-event-wrap .b-sch-event-buffer-after:not(.b-buffer-thin){
  border-inline-end:3px solid #ccc;
}
.b-sch-horizontal .b-sch-event-wrap .event-duration{
  margin-top:0.3em;
}
.b-sch-horizontal .b-sch-event-wrap .b-sch-event:not(.b-milestone) .b-fa{
  margin-inline-end:0.75em;
}

.b-sch-vertical .b-sch-event-wrap .b-sch-event-buffer-before:not(.b-buffer-thin){
  border-top:3px solid #ccc;
}